.App{
    width: 100%;
    min-height: 100vh;
    background-image: url('/clima.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card{
    background-color: #7ac1ff94;
    padding: 2.5rem 1.5rem;
    border-radius: 1rem;
    width: 100%;
    max-width: 400px;
}

.card__title{
    text-align: center;
    font-size: 2rem;
}

.card__subtitle{
    text-align: center;
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 0.5rem;
}

.card__body{
    display: grid;
    grid-template-columns: 3fr 4fr;
    align-items: center;
    gap: 0.5rem;
}

.card__info-title{
    text-align: center;
    margin-bottom: 0.5rem;
    font-size: 1rem;
    text-transform: capitalize;
}

.card__info-body{
    display: grid;
    gap: 0.5rem;
} 

.card__info-item{
    font-size: 0.8rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr) ; 
    font-weight: 600;
}

.card__info-label{
    font-weight: 300;
}

.card__footer{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card__temperature{
    margin-bottom: 1rem;
    font-size: 3rem;
}

.card__btn{
    font-size: 1rem;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 0.3rem;
    background-color: rgb(82, 196, 224);
    box-shadow: 0.2rem 0.2rem 0.5rem;
    transition: transform 200ms ease;
    cursor: pointer;
}

.card__btn:hover{
    filter: brightness(0.85);
    transform: scale(1.05);

}









